# Virtual Environment
venv/

# Database file
data.db

# Executable files
chromedriver.exe

# Python cache
__pycache__/
*.pyc

# IDE/Editor specific files
.vscode/
.idea/

# PyInstaller build files
dist/
build/
*.spec